USE [master]
GO
/****** Object:  Database [ZooZooDB]    Script Date: 04.05.2023 11:10:21 ******/
CREATE DATABASE [ZooZooDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZooZooDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ZooZooDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ZooZooDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ZooZooDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZooZooDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZooZooDB]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 04.05.2023 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[ID] [int] NOT NULL,
	[Country] [nvarchar](50) NULL,
	[Habitat] [nvarchar](50) NULL,
	[Nutrition] [nvarchar](50) NULL,
	[LifeTimeInYear] [int] NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListAnimal]    Script Date: 04.05.2023 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListAnimal](
	[ID] [int] NOT NULL,
	[AnimalId] [int] NULL,
	[ZooId] [int] NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_ListAnimal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZooCompany]    Script Date: 04.05.2023 11:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZooCompany](
	[ID] [int] NOT NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNumber] [int] NULL,
	[Director] [nvarchar](50) NULL,
 CONSTRAINT [PK_ZooCompany] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ListAnimal]  WITH CHECK ADD  CONSTRAINT [FK_ListAnimal_Animal] FOREIGN KEY([AnimalId])
REFERENCES [dbo].[Animal] ([ID])
GO
ALTER TABLE [dbo].[ListAnimal] CHECK CONSTRAINT [FK_ListAnimal_Animal]
GO
ALTER TABLE [dbo].[ListAnimal]  WITH CHECK ADD  CONSTRAINT [FK_ListAnimal_ZooCompany] FOREIGN KEY([ZooId])
REFERENCES [dbo].[ZooCompany] ([ID])
GO
ALTER TABLE [dbo].[ListAnimal] CHECK CONSTRAINT [FK_ListAnimal_ZooCompany]
GO
USE [master]
GO
